body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

p{
  font-size: 20px;
    }
h1{font-size: 50px;}
span{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width{
    width: 80%;
    padding-left: 100px;
}
.half-widthh {
    width: 80%;
    margin-top:180px;
    padding-right: 100px;
    padding-left: 100px; 
}
.half-width img{
    width: 55%;
    height:85%;
    padding-left: 160px;
    margin-top: 20px;
    
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato );
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-top: 20px;
}
.top-bannerr {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    background-position: right;
}


.half-width image{
    

    width:100%;
    height:80 px;
    padding-right: 60px;
    padding-left: 20%;

}

.link-buttonn{
    text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 40px;
        color: white;
        border-radius: 5px;
        font-weight: 700;
        margin-left: 15opx;
        
}
.orange-color{
    color: orangered;
}
.flexible-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    padding-right:10px ;
    border-radius :10px ;
    border-left: 10px orange solid;

}

#webdev-exp {
    background-image: linear-gradient(cyan, blue);
    border-left: 7px, solid;
    border-image-slice: 1;
}

#webdev-expp {
    background-image: linear-gradient(rgb(35, 37, 37), rgb(75, 75, 154));
    border-left: 7px, solid;
    border-image-slice: 1;
}
.name{
    color: crimson;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer{
        text-align: center;
    
       text-decoration: none;
        background-image: linear-gradient(orange,crimson);
      margin-left: 550px;
      margin-right: 500px;
        color: white;
        border-radius: 5px;
        font-weight: 700;
        margin-bottom: 100px;
}
.sesh{
  text-align: justify;
    color: rgb(9, 9, 9);
}